html {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 20px;
}

.mainView {
    padding-bottom: 100px;
}

.placeholder {
    text-align: center;
    color: #999;
    padding: 30px 0;
    cursor: default;
}