.customUploader {
    border: 4px dashed #ccc;
    border-radius: 15px;
    text-align: center;
    color: #999;
    padding: 40px 10px;
    cursor: default;
}

.customUploader.progressPanel {
    cursor: progress;
}

.customUploader.progressPanel .caption {
    padding-bottom: 5px;
}

.customUploader.errorMsg {
    color: #d5000e;
    border-color: #d5000e;
}

.customUploader.processingPanel {
    font-size: medium;
    cursor: progress;
}
.customUploader.processingPanel .label {
    padding: .3em .6em;
}

/* Drag'n Drop Uploader */

.customDragUploader.dragover {
    border-color: #61c5ff;
    color: #61c5ff;
}

/* Prompt Uploader */

.uploadPrompt {
    cursor: pointer;
}
