/* Upload panel */

#controlPanel .customUploader {
    width: 100%;
    margin: auto;
}

#controlPanel .customUploader.errorMsg div:first-child {
    font-weight: bold;
    margin-bottom: 10px;
}

#controlPanel .customUploader.errorMsg div:last-child {
    font-size: small;
}