.gallery {
    border: solid 1px red;
    padding-bottom: 100px;
}

.galleryItem {
    width: 145px;
    height: 165px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.galleryItem .thumbnailPanel .thumbnail-default{
    text-align: center;
    font-size: 4em;
}

.galleryItem .thumbnail{
    margin-bottom: 10px;
}

.galleryItem .status{
    text-align: center;
    cursor: progress;
}

.galleryItem .btn.close {
    font-size: 14px;
    float: inherit;
}

.galleryItem .itemHeader{
    width: 100%;
    text-align: right;
    padding-right: 2px;
    opacity: 0;

    -webkit-transition: opacity .15s ease-in;
       -moz-transition: opacity .15s ease-in;
        -ms-transition: opacity .15s ease-in;
         -o-transition: opacity .15s ease-in;
            transition: opacity .15s ease-in;
}

.galleryItem:hover .itemHeader {
    opacity: 1;
}

.galleryItem .alert {
    font-size: small;
    padding: 5px;
    cursor: default;
}

.galleryItem .colors {
    padding-left: 5px;
}

.galleryItem .colors .tooltip, .galleryItem .colors .popover {
    position: fixed;
}

.galleryItem .colorTile {
    float: left;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    margin-right: 2px;
}

/* ------------------ Tooltip ------------------ */

.colorPreviewTooltip {
    cursor: default;
}

.colorPreviewTooltip .preview {
    padding: 5px 15px;
    font-weight: bold;
    font-size: large;
    color: white;
    -webkit-text-stroke: 1px black;
    text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.colorPreviewTooltip .rgb {
    text-align: center;
    font-size: smaller;
}

.colorPreviewTooltip .colorPreviewPanel {
    width: 80px;
    height: 80px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
}

.colorPreviewTooltip table {
    border-spacing: 5px 0;
    border-collapse: separate;
}
